[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "otlmow_model"
authors = [{name = "David Vlaminck", email = "david.vlaminck@mow.vlaanderen.be"}]
readme = "README.md"
version = '2.6'
license = {file = "LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent"
]
requires-python = ">=3.6"
dependencies = []

[tool.poetry.dependencies]
python = "^3.6"

[tool.setuptools.packages.find]
include = ["otlmow_model*"]

[project.urls]
"Homepage" = "https://github.com/davidvlaminck/OTLMOW-Model"
"Bug Tracker" = "https://github.com/davidvlaminck/OTLMOW-Model/issues"
