name: Automatic update
run-name: Automatic update of class model
on:
  schedule:
    - cron: "0 4 * * *" # every day at 4am
  workflow_dispatch:

jobs:
  auto_update:
    name: Creating an automatic update for the class model
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    concurrency: auto_update
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Install uv with Python version 3.13
        uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.13
      - name: Cache uv dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/uv
          key: uv-${{ runner.os }}-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            uv-${{ runner.os }}-
      - name: Installing dependencies with uv
        run: uv pip install -r pyproject.toml --extra update
      - name: Run automatic update
        run: python3 automatic_update.py
        working-directory: ./model_update
      - name: List model_update directory
        run: ls -l model_update
      - name: Upload model update status artifact
        uses: actions/upload-artifact@v4
        with:
          name: model-update-status
          path: model_update/model_update_status.txt
      - name: Commit files
        working-directory: .
        run: |
          git pull
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -m "auto updated class model - $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes to commit."
          git push
