name: Zip source code
run-name: Zip source code for ${{ github.sha }}
concurrency:
  group: coverage_and_zip_master
  cancel-in-progress: false
on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
  workflow_run:
    workflows: [Create release]
    types:
      - completed

jobs:
  zip_source_code:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' || github.event_name == 'pull_request' }}
    defaults:
      run:
        working-directory: .
    steps:
      - uses: actions/checkout@v4
      - name: zip files
        run: |
          rm -rf source.zip
          zip -v -r source.zip ./otlmow_model
      - name: Commit files
        run: |
          git pull
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Zipped source code"
          git push
